/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #6A0DAD; /* Purple */
  --ifm-color-primary-dark: #580BA0;
  --ifm-color-primary-darker: #500A91;
  --ifm-color-primary-darkest: #3E0870;
  --ifm-color-primary-light: #7C1CC2;
  --ifm-color-primary-lighter: #8A2ED7;
  --ifm-color-primary-lightest: #9C45EB;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #9C45EB; /* Lighter purple for dark mode */
  --ifm-color-primary-dark: #8A2ED7;
  --ifm-color-primary-darker: #7C1CC2;
  --ifm-color-primary-darkest: #6A0DAD;
  --ifm-color-primary-light: #AD5EFF;
  --ifm-color-primary-lighter: #BC75FF;
  --ifm-color-primary-lightest: #D49CFF;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

.navbar__items {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.navbar__items--right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.navbar__search {
  display: flex;
  justify-content: center;
}

.footer {
  background-color: var(--ifm-color-primary-darkest);
}

/* Remove space between navbar title/logo and the first left-aligned item */
.navbar__items--left .navbar__item {
  margin-left: 0 !important;
  padding-left: 0 !important;
}
